body {
    background-color: #eacdfd;
}

/* Tamanho fixo dos quadradinhos filhos (120px) */
.tamanho{
    width: 120px;
    height: 120px;
}

/* Tamanho fixo do container pai (400px) */
.tamanhopai{
    width: 400px;
    background-color: #f8fcc8;
}

/* Cores de cada quadradinho */
.filho1{background-color: #00ffff;}

.filho2{background-color: #b3ff00;}

.filho3{background-color: #fa5ded;}

.filho4{background-color: #ec8a63;}

.filho5{background-color: #2e0101;}

.filho6{background-color: #c4045d;}

.filho7{background-color: #bf11cf;}

.filho8{background-color: #6e11d8;}

.filho9{background-color: #0ed4a9;}

.filho10{background-color: #a7fa0d;}

/* Primeiro teste: Apenas quebrando linha */
#container_wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
       
/* Segundo teste: Quebrando linha + Alinhamentos (Centro e Space-Between) */

#container_wja{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os itens nas pontas de cada linha */
    align-content: center;          /* Junta todas as linhas criadas no centro vertical */
    height: 500px;                 /* Altura necessária para ver o align-content funcionar */
    background-color: white;
}
      
/* Bordas dos cards de teste */
.cards{
    border-radius: 4px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff80;
}
