body {
    background-color: #eacdfd;
}

#container_ex5 .filho1{
    background-color: #cc37fa;
}

#container_ex5 .filho2{
    background-color: #fc28f1;
}

#container_ex5 .filho3{
    background-color: #6464fd;
}

#container_ex5 .filho4{
    background-color: #f77afc;
}

#container_ex5 .filho5{
    background-color: #fdaafd;
}

#container_ex5 .filho6{
    background-color: #adf506;
}

#container_ex5 .filho7{
    background-color: #0bdd74;
}

#container_ex5 .filho8{
    background-color: #10bbf0;
}

#container_ex5 .filho9{
    background-color: #2b27f8;
}

#container_ex5 .filho10{
    background-color: #640207;
}

#container_ex5 .tamanho {
    width: 120px;
    
    
}

#container_ex5{
    background-color: white;
    display: flex;
    width: 400px;
    
}

.tamanho{
    width: 120px;
    height: 120px;
}

.tamanhopai{
    width: 400px;
    background-color: #f8fcc8;
}


.filho1{
    background-color: #00ffff;
    
}

.filho2{
    background-color: #b3ff00;
}


.filho3{
    background-color: #fa5ded;
}


.filho4{
    background-color: #ec8a63;
}

.filho5{
    background-color: #2e0101;
}

.filho6{
    background-color: #c4045d;
}

.filho7{
    background-color: #bf11cf;
}

.filho8{
    background-color: #6e11d8;
}

.filho9{
    background-color: #0ed4a9;
}

.filho10{
    background-color: #a7fa0d;
}


#container_wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
       


#container_wja{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
        
.cards{
    border-radius: 0.1%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
